<footer class="site-footer">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <ul class="contact-list">
      <li class="meeting">Meetings: Thu 8-10pm</li>
      <li>31416 Agoura Rd, # 105<br>
          Westlake Village, California</li>
      <li>(818) 588-6453</li>
    </ul>

    <ul class="contact-list">
      <li>{% include icon-email.html username=site.email %}</li>
      <li>{% include icon-twitter.html username=site.twitter_username %}</li>
      <li>{% include icon-github.html username=site.github_username %}</li>
      <li>{% include icon-facebook.html username=site.twitter_username %}</li>
    </ul>

    <p>{{ site.description }}</p>

</footer>
