<div class="header">
  <h1 class="title"><a href="/">
<img id="logo" alt="CVMake Logo" src="/images/cvmake-logo-0.12-2015-150.png"><br>Conejo Valley Makerspace</a></h1>
  <span class="tagline">Making things since 2015</span>
</div>
<div class="footer">
  <span id="footer-links">
    {% assign sorted_pages = site.pages | sort:"path" %}
    {% for my_page in sorted_pages %}
      {% if my_page.title %}
      <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      <span class="separator">&bull;</span>
      {% endif %}
    {% endfor %} <a class="page-link" href="/">Home</a>
  </span>
</div>

<p>{{ site.description }}</p>
</br>
<b><a href="http://www.meetup.com/Conejo-Valley-Makerspace/">Meetings:</a> Every Thursday 7-9pm</b></br>
Pedego 101 Electric Bikes</br>
31332 Via Colinas #107</br>
Westlake Village, CA 91362</br>
</br>
</br>
<!-- TODO: mailing list signup, link to group -->

<!-- TODO: map, directions link? -->

<ul class="contact-list">
  <li><a href="http://www.meetup.com/Conejo-Valley-Makerspace/">Conejo-Valley-Makerspace</a> on Meetup</li>
  <li>{% include icon-email.html username=site.email %}</li>
  <li>{% include icon-twitter.html username=site.twitter_username %}</li>
  <li>{% include icon-github.html username=site.github_username %}</li>
  <li>{% include icon-facebook.html username=site.twitter_username %}</li>
  <!-- TODO: meetup? -->
  <!-- TODO: google plus? -->
  <!-- TODO: someday donations -->
</ul>

<div class="colophon">
  <p>
    <p >subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </p>
</div>
