---
layout: default
---
<div class="content" id="home">
  <div class="post">

  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
    <hr>
    <div class="footer">
      <ul class="footer-links">
        {% assign sorted_pages = site.pages | sort:"path" %}
        {% for my_page in sorted_pages %}
          {% if my_page.title %}
            <li>{% if my_page.title == page.title %}
            <span class="pagetitle">{{ page.title }}</span>
            {% else %}
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
            </li>
          {% endif %}
        {% endfor %}
        {% if page.title %}
          <li><a class="page-link" href="/">Home</a></li>
          {% else %}
          <li><span class="pagetitle">Home</span></li>
          {% endif %}
      </ul>
    </div>
<hr>
  </div>
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="social">For more info, email <a href="mailto:info@cvmake.org">info@cvmake.org</a></span>
    </p>
  </div>
</div>
